* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.pointer {
  cursor: pointer;
}

.login {
  width: 250px;
  margin: 20px 0px;
}

::selection {
  background-color: #209cee;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .login {
    width: 375px;
    margin: 0px 20px;
  }
}
