body {
  font-family: 'Open Sans', sans-serif;
}

.pointer {
  cursor: pointer;
}

.login {
  width: 250px;
  margin: 20px 0px;
}

@media screen and (max-width: 768px) {
  .login {
    width: 375px;
    margin: 0px 20px;
  }
}
